# Configuration file

general {
    I:AdvancedSPGenDay=2048
    I:AdvancedSPGenNight=1024
    I:AdvancedSPOutput=4096
    I:AdvancedSPStorage=10000000
    I:HybrydSPGenDay=4096
    I:HybrydSPGenNight=2666
    I:HybrydSPOutput=8192
    I:HybrydSPStorage=10000000
    I:QuantumSPGenDay=16384
    I:QuantumSPGenNight=16384
    I:QuantumSPOutput=32768
    I:QuantumSPStorage=10000000
    I:UltimateHSPGenDay=8192
    I:UltimateHSPGenNight=6666
    I:UltimateHSPOutput=16384
    I:UltimateHSPStorage=10000000
}


"quantum generator" {
    I:quantumGeneratorDefaultPacketSize=512
    I:quantumGeneratorDefaultProduction=512
}


"recipes settings" {
    B:"Disable Advanced Solar Helmet recipe"=false
    B:"Disable AdvancedSolarPanel recipe"=false
    B:"Disable DoubleSlab recipe"=false
    B:"Disable Hybrid Solar Helmet recipe"=false
    B:"Disable HybridSolarPanel recipe"=false
    B:"Disable MolecularTransformer recipe"=false
    B:"Disable QuantumSolarPanel recipe"=false
    B:"Disable Ultimate Solar Helmet recipe"=false
    B:"Disable UltimateSolarPanel recipe"=false
    B:"Enable hard recipes"=true
    B:"Enable simple Advanced Solar Panel recipe"=false
}


